<!DOCTYPE html>

<html>

    <head>

        <title>Corona Tracker v1.0</title>
        <link rel="icon" href="/static/icon.png">
        <link rel="stylesheet" href="/static/style.css">
        
    </head>

    <body>

        <h1>Corona Tracker v1.0<v1 class="1"></v1></h1>
        <a href="/"><button>Home</button></a>
        <br>
        <br>
        <h2>Informationen</h2>
        <p>Daten von der API des RKI:</p>
        <a href="https://api.corona-zahlen.org/docs/">https://api.corona-zahlen.org/docs/</a>
        <br>
        <p>Quellcode der Seite auf Github:</p>
        <a href="https://github.com/DerSchokolo/Corona-Tracker-Python-v1.0">https://github.com/DerSchokolo/Corona-Tracker-Python-v1.0</a>
        <br>
        <p>Uhrzeit der Letzen Aktualisierung: {{data_time}}</p>

    </body> 

</html>