<!DOCTYPE html>

<html>

    <head>

        <title>Corona Tracker v1.0</title>
        <link rel="icon" href="/static/icon.png">
        <link rel="stylesheet" href="/static/style.css">
        
    </head>

    
    <body>

        <h1>Corona Tracker v1.0</h1>
        <a href="/help"><button>Help</button></a>
        <br>
        <br>
        <h2>Inzidenzen</h2>
        <p>Inzidenz Oberhavel: {{incidence_oberhavel}}</p> 
        <p>Inzidenz Brandenburg: {{incidence_brandenburg}}</p>
        <p> Inzidenz Deutschland: {{incidence_deutschland}}</p>
        <br>
        <br>
        <h2>Impfungen</h2>
        <p> Erstimpfungen in Deutschland: {{impfungen_erst}}%</p>
        <p> Zweitimpfungen in Deutschland: {{impfungen_zweit}}%</p>

    </body> 

</html>